#privacyPolicy {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: flex-start;
  max-width: 800px;
  text-justify: distribute;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.34);
}

#privacyPolicy h2 {
  align-self: center;
  margin-bottom: -15px;
}

#privacyPolicy p {
  margin-top: 20px;
  align-self: flex-start;
  text-align: justify;
}
